<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new file</title>
</head>
<body>
    <link rel="stylesheet" href="/css/style.css">

<div class="container">
    <div class="card">
        <h1>Edit <%= fileName %></h1>
        <form
            action="/update?fileName=<%= fileName %>&_method=PATCH"
            method="post">

            <textarea name="content"><%= content %></textarea>
            <button>Save Changes</button>
        </form>
    </div>
</div>
</body>
</html>