<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All files</title>
</head>
<body>
    <link rel="stylesheet" href="/css/style.css">

<div class="container">
    <h1>All Notes</h1>
    <% for(let file of files){ %>
        <div class="card file-card">
            <span><%= file %></span>

            <form action="/notes/<%= file %>">
                <button>Open</button>
            </form>
        </div>
    <% } %>
</div>
</body>
</html>