<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .body {
            padding: 50px;
            line-height: 20px;
        }
    </style>
</head>

<body>
    <link rel="stylesheet" href="/css/style.css">
    <div class="container hero">
        <h1>File Notes Manager</h1>
        <p>CRUD application using Express + EJS + FS Module</p>
        <div class="actions">
            <form action="/notes">
                <button>View Notes</button>
            </form>
            <form action="/choice">
                <button>Manage Notes</button>
            </form>

            <form action="/create">
                <button>Create Note</button>
            </form>
        </div>
    </div>
</body>
</html>